#home {
  background-image: linear-gradient(rgba(0, 0, 1, 0.575), rgba(0, 0, 0, 0.37)),
    url(/Img/Familia\ se\ mudando.jpg);
  min-height: calc(100vh - 91px);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  display: flex;
}

#cta {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5%;
}

#cta .tittle {
  font-size: 4rem;
  color: var(--color-neutral-0) ff;
}

#cta .tittle span {
  color: var(--color-primary-3);
}

#cta .description,
p {
  font-size: 1.2rem;
  color: var(--color-neutral-0) ff;
}

#cta_buttons {
  display: flex;
  gap: 24px;
}

#cta_buttons a {
  text-decoration: none;
  color: #000000;
}

#phone_button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--color-neutral-0) ff;
  padding: 8px 14px;
  font-weight: 500;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#phone_button button {
  box-shadow: none;
}

#banner img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1170px) {
  #home {
    min-height: 100%;
    padding-top: 0px;
  }

  #banner,
  #banner img {
    display: none;
  }

  #cta {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  #phone_button button {
    display: none;
  }
}
